body{
    font-family: "Montserrat";
    font-size: 1.3em;
    width:100%;
}
.timezone-button{
    display:inline;
}
div#time {
    background-color: blue;
    text-align: center;
    font-size: 2em;
    height: 200px;
    margin-top: -33px;
    padding-top: 1%;
}
div#timezone-selection {
    height: 200px;
    margin-top: -16px;
    text-align: center;
    padding-top: 35px;
}
div#about-me {
    height: 200px;
    margin-top: -12px;
    background-color: red;
    width: 100%;
    padding-top: 66px;
    margin-left: -10px;
    text-align: center;
}
img {
    width: 33%;
    margin-left: 25%;
    margin-bottom: -46px;
}